ADMIN_PASSWORD=change-me-strong-password
SECRET_KEY=change-me-random-secret-key
BASE_DOMAIN=invite.sukamoto.web.id
UPLOAD_DIR=./static_uploads
DB_PATH=undangan.db
ADMIN_WHATSAPP=6285156918852
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
